/* css padding margins */

* {
  margin: 0%;
  padding: 0%;
}
/* Main properties */
.d-flex {
  display: flex;
}
/* .w_flex {
	flex-wrap: wrap;
} */
.flex-wrap {
  flex-wrap: wrap;
}
/* .d_flex {
	flex-direction: column;
} */
.flex-column {
  flex-direction: column;
}
/* .width_100 {
	width: 100%;
} */
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
/* .height_100 {
	height: 100%;
} */
.h-100 {
  height: 100%;
}
/* .align_text {
	text-align: center;
} */
.text-center {
  text-align: center;
}
/* .content_center {
	justify-content: center;
} */
.justify-center {
  justify-content: center;
}
.item-center {
  align-items: center;
}
.bg-carrot-orange {
  background-color: #f7941e;
}
.bg_red {
  background-color: red; /* not standard dont do that next time */
}
.flex-50 {
  flex: 50%; /* alternate or write it as proper or make a comment to explain */
}
/* .padding_5 {
	padding: 5px;
} */
.p-5 {
  padding: 5px; /* 0.3rem */
}
/* .padding_10 {
	padding: 10px;
} */
.p-10 {
  padding: 10px; /* 0.625rem */
}
.px-5 {
  padding-right: 5px;
  padding-left: 5px;
}
.py-5 {
  /* padding: 15px 0px 15px 0px; */
  padding-right: 5px;
  padding-left: 5px;
}
.m-auto {
  margin: auto;
}
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.bg_black {
  background-color: #231f20; /* class with color name */
}
/* .bg-grey-50{
  background-color: rgba(black, black, black, 0.5);
} */
.bg-white {
  background-color: #fafafa;
}
/* .txt_white {
	color: #ffffff;
} */
.text_white {
  color: #ffffff;
}
/* .txt_black {
	color: #231f20;
} */
.text_black {
  color: #231f20;
}
.btn {
  font-size: 18px;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  /* border: 1px solid; */
}
/* .btn:hover,
.btn:focus {
	color: #f7941e;
	background-color: transparent;
}
.btn--btn-fill {
	background-color: #f7941e;
	color: white;
	border: 1px solid #f7941e;
}
.btn--btn-transparent {
	color: #f7941e;
	background-color: transparent;
}
.btn--btn-transparent:hover,
.btn--btn-transparent:focus {
	background-color: #f7941e;
	color: white;
} */
/* Main Body */
.gift {
  /* display: flex;
  flex-wrap: wrap; */
}
.gift__text {
  /* gift__text */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 50%; */
  /* background-color: #f1f1f2; */
}
.gift__text__box {
  /* flex-direction: column; */
  width: 400px;
  height: 411px;
  padding: 20px;
}
.gift__text__peragraph {
  margin-top: 36px;
  margin-bottom: 52px;
}
.btn--btn-fill {
  background-color: #f7941e;
  color: white;
  border: 1px solid #f7941e;
}
.gift__card img {
  /* width: 100%;
  height: 100%; */
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
/* .flex_2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gift_card {
  width: 50%;
}
.gift_card img {
  width: 100%;
  height: 100%;
}

.gift__text_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #f1f1f2;
}
.text_box {
  width: 400px;
  height: 411px;
  padding: 20px;
}
.pera_2 {
  margin-top: 23px;
  margin-bottom: 35px;
}
.btn_2 {
  width: 200px;
  height: 60px;
  border: 1px solid #f7941e;
  color: #f7941e;
  border-radius: 5px;
}
.Third_section {
  min-height: 820px;
}
.align {
}
.T_head {
  margin-bottom: 64px;
  padding: 20px;
}
.T_p {
  margin-top: 23px;
}
.T_cards_box {
}
.T_card {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 436px;
  background-color: #f1f1f2;
  margin: 10px 10px;
}
.T_card_img {
  width: 100%;
  height: 270px;
}
.link_div {
  background-color: #f1f1f2;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 20px;
}
.T_bottom {
  min-height: 240px;
}
.T_bottom_box {
  padding: 10px;
}
.T_bottom_text {
  display: flex;
  min-height: 90px;
  justify-content: space-between;
}
.T_bottom_btn1 {
  width: 200px;
  height: 48px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #231f20;
}
.T_bottom_align {
  width: 970px;
}

.Fth_section {
  min-height: 1026px;
  width: 100%;
}
.Fth_head {
  height: 87px;
  justify-content: space-between;
  margin-bottom: 80px;
  text-align: center;
}
.F_top_card {
  min-height: 370px;
  max-width: 1170px;
  margin-bottom: 30px;
}
.F_top_img {
  height: 100%;
}
.F_top_txt {
  margin-left: 70px;
  padding: 76px;
}
.F_top_h1 {
  margin-top: 27px;
  margin-bottom: 60px;
}
.F_bottom_cards {
  max-width: 1170px;
  justify-content: space-between;
}
.F_b_card {
  max-width: 570px;
  min-height: 290px;
  background-color: #f1f1f2;
  flex-basis: 45%;
  padding: 20px;
  margin-top: 10px;
}
.F_b_card_p1 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.s-links {
  display: flex;
  flex-direction: row;
  min-width: 160px;
  justify-content: space-between;
}
.s-link {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.logo {
  padding: 10px 141px 10px 141px;
}
.service-section {
  min-height: 410px;
}
.line1 {
  width: 73.71%;
  margin-top: 35px;
  margin-bottom: 55px;
}
.line {
  top: 43px;
  width: 100%;
  color: black;

}
.s-social-tags :last-child {
}
.s-social {
  padding: 12px;
}
.servic-privacy-terms {
  margin-top: 72px;
}
.privacy {
  padding: 7px;
} */
/* @media screen and (max-width: 992px) {
  .F_top_txt {
    margin-left: 0px;
    text-align: center;
  }
  .F_top_card {
    justify-content: center;
    flex-wrap: wrap;
  }
  .F_bottom_cards {
    flex-direction: column;
    align-items: center;
  }
  .F_b_card {
    width: 85%;
  }
  .F_top_card img{
  width: 100%;
  } 
} */
@media only screen and (max-width: 768px) {
  .gift {
    height: 1300px;
  }
  .gift__text {
    width: 100%;
    height: 50%;
  }
  .gift__card {
    width: 100%;
    height: 50%;
  }
  /* .flex_2 {
    flex-direction: column-reverse;
    height: 1200px;
  }

  .gift_card {
    width: 100%;
    height: 50%;
  }
  .gift_card img {
  }

  .gift_text_2 {
    width: 100%;
    height: 50%;
  }
  .text_box {
  }
  .pera_2 {
  }
  .btn_2 {
  }
  .service-main {
    flex-direction: column;
  } */
}

@media only screen and (max-width: 547px) {
  .gift {
    height: 950px;
  }
  /* .flex_2 {
    height: 900px;
  }

  .gift_card {
  }
  .gift_card img {
  }

  .gift_text_2 {
  }
  .text_box {
  }
  .pera_2 {
  }
  .btn_2 {
  } */
  .container {
    padding-left: 2px;
    padding-right: 2px;
  }
  /* .F_top_img {
    width: 100%;
  } */
}
