/* css padding margins */

* {
  margin: 0%;
  padding: 0%;
  font-family: gilroy-regular;
  /* font-family: gilory-bold; */
}

/* font-family */

@font-face {
  font-family: gilroy-regular;
  src: url(../fonts/gilroy/Gilroy-Regular.ttf);
}
@font-face {
  font-family: gilroy-bold;
  src: url(../fonts/gilroy/Gilroy-Bold.ttf);
}

/* Main properties */

.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.h-100 {
  height: 100%;
}
.text-center {
  text-align: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.item-center {
  align-items: center;
}

.flex-50 {
  flex-basis: 50%; /* alternate or write it as proper or make a comment to explain */
}
.p-5 {
  padding: 5px; /* 0.3rem */
}
.p-10 {
  padding: 10px; /* 0.625rem */
}
.px-5 {
  padding-right: 5px;
  padding-left: 5px;
}
.py-5 {
  padding-right: 5px;
  padding-left: 5px;
}
.m-auto {
  margin: auto;
}
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn {
  font-size: 18px;
  width: 200px;
  height: 60px;
  border: 1px solid #f7941e;
  color: #f7941e;
  border-radius: 5px;
}

/* Modifiers */

.btn--btn-fill:hover,
.btn--btn-fill:focus {
  background-color: #f7941e;
  color: white;
  border: 1px solid #f7941e;
}
.btn--btn-transparent:hover,
.btn--btn-transparent:focus {
  background-color: #f7941e;
  color: white;
}
.find--gifts-card:hover,
.find--gifts-card:focus {
  background-color: #ffffff;
  /* left: calc(50% - 270px / 2 - 450px); */
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}
.contactus--btn-fill:hover,
.contactus--btn-fill:focus {
  background-color: #231f20;
  color: #fafafa;
}
.blogs--cards--article-shadow:hover,
.blogs--cards--article-shadow:focus {
  background-color: #fafafa;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}

/* colors */

.bg-carrot-orange {
  background-color: #f7941e;
}
.bg_red {
  background-color: red; /* not standard dont do that next time */
}
.bg-black {
  background-color: #231f20; /* class with color name */
}
.bg-white {
  background-color: #fafafa;
}
.text-white {
  color: #ffffff;
}
.text-black {
  color: #231f20;
}
.bg-ghost-white {
  background-color: #f1f1f2;
}
.no-underline {
  text-decoration: none;
}

/* Main Body */

.gift__text__box {
  width: 400px;
  height: 411px;
  padding: 20px;
}
.gift__text__box p {
  margin-top: 36px;
  margin-bottom: 52px;
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
.our__work__text__box {
  width: 400px;
  height: 411px;
  padding: 20px;
}
.our__work__text__box p {
  margin-top: 23px;
  margin-bottom: 35px;
}

.find__gifts {
  min-height: 820px;
}
.find__gifts__head {
  margin-bottom: 64px;
  padding: 20px;
}
.find__gifts__head p {
  margin-top: 23px;
}
.find__gifts__card {
  width: 270px;
  height: 436px;
  margin: 15px;
}
.find__gifts__card img {
  height: 270px;
}
.link__div {
  padding: 20px;
}
.contactus {
  min-height: 240px;
}
.contactus__box {
  width: 970px;
}
.contactus__box__text {
  min-height: 90px;
}
.contactus__box__text__h1 {
  font-family: gilroy-bold;
}
.contactus__btn {
  width: 200px;
  height: 48px;
  margin: 8px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #231f20;
  color: #231f20;
}

.blogs {
  min-height: 1026px;
  width: 100%;
}
.blogs__head {
  height: 87px;
  margin-bottom: 80px;
  margin-top: 20px;
}
.blogs__cards__wishwife {
  min-height: 370px;
  max-width: 1170px;
  margin-bottom: 30px;
}
.blogs__cards__wishwife__text {
  margin-left: 70px;
  padding: 76px;
}
.blogs__cards__wishwife__text h1 {
  margin-top: 27px;
  margin-bottom: 60px;
}
.blogs__cards__articles {
  max-width: 1170px;
}
.blogs__cards__articles__card {
  max-width: 570px;
  min-height: 290px;
  flex-basis: 49%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.blogs__cards__articles__card__box {
  padding: 40px;
}
.blogs__cards__articles__card p {
  margin-top: 16px;
  margin-bottom: 16px;
}
.service__section {
  min-height: 410px;
}
.service__main__links {
  min-width: 160px;
}
.service__main__links__section {
  padding: 10px;
}
.logo {
  padding: 10px 141px 10px 141px;
}

.line__div {
  width: 73.71%;
  margin-top: 35px;
  margin-bottom: 55px;
}
.line {
  top: 43px;
  width: 100%;
  color: black;
}
.service__section__social__tags :last-child {
}
.service__tag {
  padding: 12px;
}
.service__privacy__terms {
  margin-top: 72px;
}
.privacy {
  padding: 7px;
}
@media screen and (max-width: 992px) {
  .blogs__cards__wishwife {
    justify-content: center;
    flex-wrap: wrap;
  }
  .blogs__cards__wishwife__text {
    margin-left: 0px;
    text-align: center;
  }
  .blogs__cards__articles {
    flex-direction: column;
    align-items: center;
  }
  .blogs__cards__articles__card {
    width: 85%;
  }
}
@media only screen and (max-width: 768px) {
  .w-md-100 {
    width: 100%;
  }
  .w-md-50 {
    width: 50%;
  }
  .h-md-50 {
    height: 50%;
  }
  .gift {
    height: 1300px;
  }
  .our__work {
    flex-direction: column-reverse;
    height: 1200px;
  }
  .contactus__box__text {
    align-items: center;
  }
  .flex-100-md {
    flex-basis: 100%;
  }
  .service__main {
    flex-direction: column;
  }
}

@media only screen and (max-width: 547px) {
  .gift {
    height: 950px;
  }
  .our__work {
    height: 900px;
  }
  .container {
    padding-left: 2px;
    padding-right: 2px;
  }
  .blogs__cards__wishwife__card,
  .blogs__cards__wishwife__card img {
    width: 100%;
  }
}
